[submodule "django-autoload"]
	path = django-autoload-proj
	url = https://github.com/adieu/django-autoload
[submodule "django-dbindexer"]
	path = django-dbindexer-proj
	url = git@github.com:django-nonrel/django-dbindexer.git
[submodule "djangoappengine"]
	path = djangoappengine-proj
	url = git@github.com:django-nonrel/djangoappengine.git
[submodule "djangotoolbox"]
	path = djangotoolbox-proj
	url = git@github.com:django-nonrel/djangotoolbox.git
[submodule "django"]
	path = django-proj
	url = git@github.com:django-nonrel/django.git
